.body {
    background-color: #FCFCFC;
}

.phone-number {
    text-decoration: none; /* Remove underline */
    color: red; /* Link color (you can change it) */
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.go-back-link {
    text-decoration: none; /* Remove underline for "Go Back" link */
    color: #000000; /* Link color (you can change it) */
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.container {
    border: 1px solid #000;
    background-color: skyblue;
}