/* Navbar Styles */
#navbar {
    background-color: #FF3737 !important;
    background-image: url('logo.png');
    background-size: cover;
}

.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    padding-right: 10px;
    font-size: 25px;
}

.navbar-brand img {
    max-width: 80px;
    height: auto;
    filter: brightness(1) invert(0);
}

/* "Welcome Back" Text Styles */
#welcome-container {
    text-align: center;
    font-family: 'Inter', sans-serif; /* Verify the 'Inter' font exists */
}

.welcome-text {
    font-size: 25px;
    margin-right: 800px; /* Change margin-right to margin-left for right positioning */
}

/* Form Styles */
/* Adjust the form position and width */
#form-container {
    border: 2px solid #000;
    text-align: start;
    padding: 20px;
    margin-left: 130px; /* Center the form horizontally */
    max-width: 480px; /* Set a maximum width for the form */
    border-radius: 30px;
}

#login-form {
    font-family: 'Inter', sans-serif; /* Verify the 'Inter' font exists */
    font-weight: bold;
    font-size: 32px;
}

.form-text {
    margin-bottom: 20px; /* Add space below the form text */
    color: #000;
}

.no-border-radius {
    border-radius: 0; /* Remove border radius */
}

#password-toggle {
    color: lightgrey;
    cursor: pointer;
}

/* Password input styles */
.password-input {
    display: flex;
    align-items: center;
}

.password-input-container {
    position: relative;
    flex: 1;
}

.password-input-container .form-control {
    padding-right: 35px; /* Change to padding-right */
}

.form-icon {
    color: lightgrey;
    cursor: pointer;
    position: absolute;
    right: 10px; /* Change to right */
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; /* Adjust the font size as needed */
}

/* Add the following CSS for the "Login" button */
.form-group .btn-login {
    width: 100%; /* Make the button full width */
    background-color: #FF0000; /* Set the button background color to #FF0000 */
    color: #FFFFFF; /* Set the text color to #FFFFFF */
    font-family: 'Inter', sans-serif; /* Set the font-family to Inter */
    font-weight: lighter; /* Make the text bold */
    border: none; /* Remove the button border */
    border-radius: 0; /* Remove border radius */
    padding: 10px; /* Add padding for spacing */
    cursor: pointer;
}

/* CSS for the "Remember me" checkbox */
.form-check-input.custom-checkbox:checked {
    background-color: black; /* Set the checkbox background color to black when checked */
    border-color: black; /* Set the checkbox border color to black when checked */
}

.form-check-input.custom-checkbox:checked + .custom-label::before {
    color: #fff; /* Set the text color to white */
    background-color: black; /* Set the background color to black */
    border-color: black; /* Set the border color to black */
    width: 15px; /* Set the width of the checkbox icon */
    height: 15px; /* Set the height of the checkbox icon */
}

.custom-label {
    font-family: 'Inter', sans-serif; /* Change the font-family to Inter */
    color: #000000;
    font-weight: bold;
    font-size: 15px; /* Change the font size to 15px */
    padding-right: 0.5em; /* Adjust the padding for spacing to move the text to the left of the checkbox icon */
}

/* To make the checkbox smaller */
.form-check-input.custom-checkbox {
    transform: scale(0.7); /* Adjust the scale factor to make it smaller as needed */
}

.form-check-input {
    margin-top: 14px;
}

.form-check-input[type=checkbox] {
    border-radius: 0em;
}

/* CSS for the "Forgot Password?" link */
.forgot-password-link {
    font-family: 'Inter', sans-serif; /* Set the font-family to Inter */
    color: #FF0000; /* Set the link color to #FF0000 */
    font-weight: bold; /* Make the text bold */
    text-decoration: none; /* Remove the underline */
    font-size: 15px;
}